.intwc-status-bar {
    font-family: Consolas,"Courier New",monospace;
    padding: 2px 6px;
    font-size: 14px;
    background: #181825;
    color: #6c7086;
    border-top: 1px solid #313244;
    box-sizing: border-box;
    display: flex;
}
.intwc-status-button {

}
.intwc-status-button:hover {
    background: #313244;
    color: #7f849c;
    cursor: pointer;
}
